train_data5_frag.txt filter=lfs diff=lfs merge=lfs -text
train_data5_for_cc2v.txt filter=lfs diff=lfs merge=lfs -text
doc_frag.model filter=lfs diff=lfs merge=lfs -text
Patches_test.zip filter=lfs diff=lfs merge=lfs
data/experiment2/Patches_test.zip filter=lfs diff=lfs merge=lfs -text
